# Esse arquivo é usado para listar as dependências externas que um projeto usa
# Ex.: boto3, requests ou constructs
# Porém, nesse projeto não usamos nenhuma biblioteca externa!

python>=3.8
unittest
os
